aiohttp==3.6.2
alembic==1.4.2
appdirs==1.4.4
arrow==0.15.5
asgiref==3.2.7
async-timeout==3.0.1
asyncio==3.4.3
attrs==19.3.0
Babel==2.8.0
bcrypt==3.1.7
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.1
distlib==0.3.0
Django==3.0.1
django-filter==2.2.0
django-leaflet==0.26.0
django-phonenumber-field==4.0.0
django-widget-tweaks==1.4.8
djangorestframework==3.11.0
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.8
Flask-Migrate==2.5.3
Flask-Moment==0.9.0
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
jose==1.0.0
Mako==1.1.2
Markdown==3.2.2
MarkupSafe==1.1.1
multidict==4.7.6
phonenumbers==8.12.6
Pillow==9.0.1
psycopg2-binary==2.8.5
py4j==0.10.9
pycparser==2.20
Pygments==2.6.1
python-dateutil==2.6.0
python-editor==1.0.4
pytz==2020.1
requests==2.23.0
selenium==3.141.0
six==1.14.0
SQLAlchemy==1.3.16
sqlparse==0.3.1
urllib3==1.25.9
virtualenv==20.0.21
Werkzeug==1.0.1
WTForms==2.3.1
yarl==1.4.2
